<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="{{url_for('static', filename='signstyle.css')}}">

        <title>Tuesdays for Trash</title>

        <head>
        <link rel="shortcut icon" type="image/x-icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAQlBMVEVHcEyd0ZKd0ZKd0ZKd0ZKd0ZKd0ZKd0ZKd0ZKd0ZKd0ZKh1pVMgVg5b0yUyYxfk2UARSwLTTJonGsfWzyGu4J0qXRJWq/6AAAAC3RSTlMAT5bP9P8cp5DgKp0v+A4AAAEUSURBVHgBhZMFAsMgDEXrhuWX7v5XXWAkMH9bW+ThoWvoh3Ga52kc+u4Dyzo3rMtr/Ta/sD033+c39qaTY5o/MB3aXutNRg3pY9c66xir1t7MzwfGEhiyKe11pktuH4hBIaVD7iMNsmbhRIzgH78f/zMLKws6v2dKMe9vSV3xiasU990gAgEEgUQYurEK0QLOATZWYexkkzzBGdDtRjAO5GWzurkK0cQk8KcK839hkhQBIgA06xCjJAHMLgkuJwujLjM18zYJ1qfOdJm9CLEVoggcno1whSSEqxHksFhwLJxJOFlwLMhhLSpAj1KFpQa0sSRnwQlr2tAuIW2dYktgPwetadCg/R/2/y/O/6v3//L+vv53ASIebLADWnAAAAAASUVORK5CYII=" />
        </head>
    </head>

    <body>
        <div class="wrapper fadeInDown">
            <div id="formContent">
              <!-- Tabs Titles -->
              <h2 class="active"> Sign In </h2>
          
              <!-- Icon -->
              <div class="fadeIn first">
                <img src="https://i.fbcd.co/products/original/5fa383ce5eb20c14d119f50755ad611c2ac183fd968ad1369ddee607e2890343.jpg" id="icon" alt="User Icon" />
              </div>
          
              <!-- <a href="/signin">Login</a> Form -->
              <form action="/signin" method="POST">
                <input type="text" id="login" class="fadeIn second" name="email" placeholder="email" required>
                <input type="text" id="password" class="fadeIn third" name="password" placeholder="password" required>
                <input type="submit" class="fadeIn fourth" value="Log In">
              </form>
          
              <!-- links -->
              <div id="formFooter">
                <a class="underlineHover" href="/">go to home</a>
                <a class="underlineHover" href="/signup">don't have an account? go create one</a>
                <p>{{error}}</p>
              </div>

            </div>
        </div>
    </body>

</html>